[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/wpsimon09/imgui.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
